<div class="container-fluid p-1" id="print-area">
  <p-toast />
  <p-confirmDialog />
  <!-- Main Content -->
  <div class="row mt-3">
    <!-- Content Area -->
    <div class="col-md-12">
      <!-- Action Buttons -->
      <div class="action-buttons d-flex">
        <div class="col-2 fw-bold text-left">
          <span
            *ngIf="isView && partCostRequestData.requestBase.requestNo != this.helperService.intMin"
            style="font-size: 18px"
          >
            Request No: {{ partCostRequestData.requestBase.requestNo }}
          </span>
        </div>
        <div class="col-4">
          <div
            *ngIf="
              arrayEmployeeCodeCanRfi.length > 0 &&
              this.isView == true &&
              isRequestPendingApprover()
            "
          >
            <p-dropdown
              [options]="arrayEmployeeCodeCanRfi"
              [(ngModel)]="actionData.employeeCodeRfi"
              placeholder="Select employee to RFI"
              class="mw-300"
              styleClass="mw-300 mr-3"
              [showClear]="true"
            >
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="actionData.employeeCodeRfi">
                  {{ actionData.employeeCodeRfi }} -
                  {{
                    masterEmployeesMap.has(actionData.employeeCodeRfi)
                      ? masterEmployeesMap.get(actionData.employeeCodeRfi).fullName
                      : ''
                  }}
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                {{ item }} -
                {{ masterEmployeesMap.has(item) ? masterEmployeesMap.get(item).fullName : '' }}
              </ng-template>
            </p-dropdown>
            <p-button
              *ngIf="this.isView == true && this.isPendingApprover()"
              icon="pi pi-caret-left"
              label="RFI to Approver"
              styleClass="p-button-info"
              (click)="rfiRequestPartCost()"
              [disabled]="isLoading"
              title="Please input remark when you want RFI Approver"
            ></p-button>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          	          <app-loading *ngIf="isLoading" class="mr-2"></app-loading>
          <p-button
            *ngIf="this.isView == true && this.isRequestDraft()"
            icon="pi pi-check"
            label="ReSubmit"
            styleClass="p-button-success"
            (click)="createRequestPartCost(true, false)"
            [disabled]="isLoading"
          ></p-button>
          <p-button
            *ngIf="this.isView == false"
            icon="pi pi-check"
            label="Submit"
            styleClass="p-button-success"
            (click)="createRequestPartCost(false, false)"
            [disabled]="isLoading"
          ></p-button>
          <p-button
            *ngIf="this.isView == false || (this.isView == true && this.isRequestDraft())"
            label="Save draft"
            styleClass="p-button-info"
            (click)="createRequestPartCost(false, true)"
            [disabled]="isLoading"
          ></p-button>

          <!-- New Delete Draft Request button -->
          <p-button
            *ngIf="this.isView == true && this.canDeleteDraftRequest()"
            icon="pi pi-trash"
            label="Delete Draft"
            styleClass="p-button-danger"
            (click)="deleteDraftRequest()"
            [disabled]="isLoading"
            title="Delete this draft request permanently"
          ></p-button>

          <p-button
            *ngIf="this.isView == true && this.isPendingApprover()"
            icon="pi pi-thumbs-up"
            label="Approve"
            styleClass="p-button-success"
            (click)="approveRequestPartCost()"
            [disabled]="isLoading"
            title="Please input remark when you want Reject/RFI/Get Back Request"
          ></p-button>
          <p-button
            *ngIf="this.isView == true && this.isPendingApprover()"
            icon="pi pi-thumbs-down"
            label="Reject"
            styleClass="p-button-danger"
            (click)="rejectRequestPartCost()"
            [disabled]="isLoading"
            title="Please input remark when you want Reject/RFI/Get Back Request"
          ></p-button>
          <p-button
            *ngIf="this.isView == true && this.isRequestorCanGetBack()"
            icon="pi pi-backward"
            label="Get Back"
            styleClass="p-button-info"
            (click)="getBackRequestPartCost()"
            [disabled]="isLoading"
            title="Please input remark when you want Reject/RFI/Get Back/Top Up Request"
          ></p-button>
          <p-button
            *ngIf="this.isView == true && this.isPendingApprover()"
            icon="pi pi-caret-left"
            label="RFI to PIC"
            styleClass="p-button-help"
            (click)="rfiRequestPartCost(true)"
            [disabled]="isLoading"
            title="Please input remark when you want RFI Approver"
          ></p-button>
          <p-button
            *ngIf="this.isView == true && this.isTopUpRole()"
            icon="pi pi-fast-backward"
            label="Top Up"
            styleClass="p-button-warning"
            (click)="topUpRequestPartCost()"
            [disabled]="isLoading"
            title="Special Permission Top Up request to PIC for update Information at any status"
          ></p-button>
          <!-- Print Menu -->
           <p-button icon="pi pi-print" (click)="this.showPrintPreviewDialog()" label="Print Preview" [disabled]="isLoading"></p-button>
        </div>
      </div>
      <!-- Remark -->

      <div
        title="Please input remark when you want Reject/RFI/Get Back/Top Up Request"
        *ngIf="
          isView == true &&
          (this.isPendingApprover() ||
            this.isRequestorCanGetBack() ||
            this.isTopUpRole() ||
            this.isRequestDraft())
        "
        class="mt-3"
        [ngClass]="{
          'invalid-cell': this.isRequiredRemark == true && this.actionData.comment == ''
        }"
      >
        <p-panel [toggleable]="true">
          <ng-template pTemplate="header">
            <div class="d-flex justify-content-between align-items-center w-100">
              <span class="fw-bold label-required">Comment</span>
            </div>
          </ng-template>
          <div>
            <textarea
              [ngClass]="{
                'invalid-cell': this.isRequiredRemark == true && this.actionData.comment == ''
              }"
              rows="5"
              cols="30"
              class="w-100"
              pTextarea
              [(ngModel)]="actionData.comment"
            ></textarea>
          </div>
        </p-panel>
      </div>
      <!-- General Details -->
      <p-panel [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="d-flex justify-content-between align-items-center w-100">
            <span class="fw-bold">General Details </span>
          </div>
        </ng-template>

        <div class="row">
          <div class="col-md-6">
            <div class="detail-row">
              <div class="detail-label label-required">Factory</div>
              <div class="detail-value">
                <input
                  type="text"
                  class="form-control"
                  [disabled]="true"
                  [(ngModel)]="partCostRequestData.requestPartCost.buyFrom"
                />
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label">Subcon</div>
              <div class="detail-value">
                <input
                  type="text"
                  class="form-control {{
                    partCostRequestData.requestPartCost.buyForSubcon
                      ? ''
                      : this.isDisableInput() == false
                      ? 'border-warning'
                      : ''
                  }}"
                  [disabled]="this.isDisableInput()"
                  [(ngModel)]="partCostRequestData.requestPartCost.buyForSubcon"
                />
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">From Vendor Code</div>
              <div class="detail-value">
                <ng-select
                  [disabled]="this.isDisableInput()"
                  [items]="this.isDisableInput() ? masterSuppliers : masterSuppliersFilter"
                  [searchFn]="customSearchFromVendorCodeFn"
                  [clearable]="true"
                  bindValue="supplierCode"
                  placeholder="Choose supplier"
                  [multiple]="false"
                  [virtualScroll]="true"
                  [searchable]="true"
                  [(ngModel)]="partCostRequestData.requestPartCost.fromVendorCode"
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('fromVendorCode') && this.isDisableInput() == false
                  }"
                  (ngModelChange)="validateRequestPartCost()"
                >
                  <ng-template ng-label-tmp let-item="item">
                    {{ item.supplierCode }}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.supplierCode }} ({{ item.supplierAlias }})
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div
              class="detail-row"
              *ngIf="masterSuppliersMap.has(partCostRequestData.requestPartCost.fromVendorCode)"
            >
              <div class="detail-label label-required">From Vendor Name</div>
              <div class="detail-value">
                {{
                  masterSuppliersMap.get(partCostRequestData.requestPartCost.fromVendorCode)
                    .supplierName
                }}
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">To Vendor Code</div>
              <div class="detail-value">
                <ng-select
                  [items]="this.isDisableInput() ? masterSuppliers : masterSuppliersFilter"
                  [searchFn]="customSearchToVendorCodeFn"
                  [clearable]="true"
                  bindValue="supplierCode"
                  placeholder="Choose supplier"
                  [multiple]="false"
                  [virtualScroll]="true"
                  [searchable]="true"
                  [disabled]="this.isDisableInput()"
                  [(ngModel)]="partCostRequestData.requestPartCost.toVendorCode"
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('toVendorCode') && this.isDisableInput() == false
                  }"
                  (ngModelChange)="validateRequestPartCost(); changeVendor()"
                >
                  <ng-template ng-label-tmp let-item="item">
                    {{ item.supplierCode }}
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item">
                    {{ item.supplierCode }} ({{ item.supplierAlias }})
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div
              class="detail-row"
              *ngIf="masterSuppliersMap.has(partCostRequestData.requestPartCost.toVendorCode)"
            >
              <div class="detail-label label-required">To Vendor Name</div>
              <div class="detail-value">
                {{
                  masterSuppliersMap.get(partCostRequestData.requestPartCost.toVendorCode)
                    .supplierName
                }}
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">Change price reason</div>
              <div
                class="detail-value"
                [ngClass]="{
                  'invalid-cell':
                    isInvalidRequestPartCost('masterChangePriceReasonLogs') &&
                    this.isDisableInput() == false
                }"
              >
                <ng-container *ngIf="this.isDisableInput() == false">
                  <p-listbox
                    [(ngModel)]="partCostRequestData.masterChangePriceReasonLogs"
                    (ngModelChange)="validateRequestPartCost()"
                    [options]="
                      this.isDisableInput()
                        ? masterChangePriceReasons
                        : masterChangePriceReasonsFilter
                    "
                    optionValue="idNo"
                    [multiple]="true"
                    [checkbox]="true"
                    optionLabel="reason"
                    class="w-full md:w-56"
                    [selectAll]="false"
                    selectAll="false"
                    scrollHeight="500px"
                  >
                    <ng-template let-item pTemplate="item">
                      {{ item.reasonSlugNumber }} - {{ item.reason }}
                    </ng-template>
                  </p-listbox>
                </ng-container>
                <ng-container *ngIf="this.isDisableInput()">
                  <div
                    class="flex items-center mb-1"
                    *ngFor="let item of this.masterChangePriceReasons"
                  >
                    <ng-container
                      *ngIf="partCostRequestData.masterChangePriceReasonLogs.includes(item.idNo)"
                    >
                      <li>{{ item.reasonSlugNumber }} - {{ item.reason }}</li>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-row" *ngIf="this.isView">
              <div class="detail-label">Employee Code</div>
              <div class="detail-value">
                {{
                  this.masterEmployeesMap.has(this.partCostRequestData.requestBase.requestBy)
                    ? this.masterEmployeesMap.get(this.partCostRequestData.requestBase.requestBy)
                        .employeeCode
                    : ''
                }}
              </div>
            </div>
            <div class="detail-row" *ngIf="this.isView">
              <div class="detail-label">Full Name</div>
              <div class="detail-value">
                {{
                  this.masterEmployeesMap.has(this.partCostRequestData.requestBase.requestBy)
                    ? this.masterEmployeesMap.get(this.partCostRequestData.requestBase.requestBy)
                        .fullName
                    : ''
                }}
              </div>
            </div>
            <div class="detail-row" *ngIf="this.isView">
              <div class="detail-label">Department Name</div>
              <div class="detail-value">
                {{
                  this.masterEmployeesMap.has(this.partCostRequestData.requestBase.requestBy)
                    ? this.masterEmployeesMap.get(this.partCostRequestData.requestBase.requestBy)
                        .departmentName
                    : ''
                }}
              </div>
            </div>
            <div class="detail-row" *ngIf="this.isView">
              <div class="detail-label">Submit Date</div>
              <div class="detail-value">
                {{ this.partCostRequestData.requestBase.requestAt | date : 'dd/MM/yyyy HH:mm' }}
              </div>
            </div>
            <div class="detail-row" *ngIf="this.isView">
              <div class="detail-label">Request Status</div>
              <div class="detail-value">
                {{
                  this.masterRequestStatusesMap.has(
                    this.partCostRequestData.requestBase.masterRequestStatusId
                  )
                    ? this.masterRequestStatusesMap.get(
                        this.partCostRequestData.requestBase.masterRequestStatusId
                      ).requestStatus
                    : ''
                }}
              </div>
            </div>
            <div class="detail-row" *ngIf="this.isView">
              <div class="detail-label">Pending at</div>
              <div class="detail-value">
                {{ this.partCostRequestData.requestBase.pendingBy }} -
                {{
                  this.masterEmployeesMap.has(this.partCostRequestData.requestBase.pendingBy)
                    ? this.masterEmployeesMap.get(this.partCostRequestData.requestBase.pendingBy)
                        .fullName
                    : ''
                }}
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">Type Request</div>
              <div class="detail-value">
                <ng-select
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('masterTypeRequestPartCostId') &&
                      this.isDisableInput() == false
                  }"
                  [disabled]="this.isDisableInput()"
                  [items]="masterTypeRequestPartCosts"
                  bindValue="idNo"
                  bindLabel="typeRequest"
                  [disabled]="true"
                  [multiple]="false"
                  [(ngModel)]="partCostRequestData.requestPartCost.masterTypeRequestPartCostId"
                  (ngModelChange)="validateRows(); validateRequestPartCost()"
                ></ng-select>
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">Type From</div>
              <div class="detail-value">
                <ng-select
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('masterTypeFormRequestPartCostId') &&
                      this.isDisableInput() == false
                  }"
                  [disabled]="this.isDisableInput()"
                  [items]="masterTypeFormRequestPartCosts"
                  bindValue="idNo"
                  bindLabel="typeForm"
                  [multiple]="false"
                  [(ngModel)]="partCostRequestData.requestPartCost.masterTypeFormRequestPartCostId"
                  (ngModelChange)="validateRows(); validateRequestPartCost()"
                ></ng-select>
              </div>
            </div>
            <div class="detail-row" *ngIf="this.isBuyMaterial()">
              <div class="detail-label label-required">Unit</div>
              <div class="detail-value">
                <ng-select
                  [disabled]="this.isDisableInput()"
                  [items]="this.isDisableInput() ? masterUnitsFilter : masterUnits"
                  [clearable]="true"
                  bindValue="unitName"
                  bindLabel="unitName"
                  placeholder="Choose Unit"
                  [multiple]="false"
                  [virtualScroll]="false"
                  [searchable]="false"
                  [(ngModel)]="partCostRequestData.requestPartCost.unit"
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('unit') && this.isDisableInput() == false
                  }"
                  (ngModelChange)="validateRows(); validateRequestPartCost()"
                >
                </ng-select>
                <!-- <input
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('unit') && this.isDisableInput() == false
                  }"
                  type="text"
                  class="form-control"
                  [disabled]="true"
                  [(ngModel)]="partCostRequestData.requestPartCost.unit"
                  (ngModelChange)="validateRows(); validateRequestPartCost()"
                /> -->
                <!-- [disabled]="this.isDisableInput()" -->
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">Currency Part (Material)</div>
              <div class="detail-value">
                <ng-select
                  [disabled]="this.isDisableInput()"
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('partMasterCurrencyId') &&
                      this.isDisableInput() == false
                  }"
                  [items]="this.isDisableInput() ? masterCurrencies : masterCurrenciesFilter"
                  bindValue="idNo"
                  bindLabel="name"
                  [multiple]="false"
                  [(ngModel)]="partCostRequestData.requestPartCost.partMasterCurrencyId"
                  (ngModelChange)="validateRows(); validateRequestPartCost(); changePartCurrency()"
                ></ng-select>
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">Currency Payment</div>
              <div class="detail-value">
                <ng-select
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('paymentMasterCurrencyId') &&
                      this.isDisableInput() == false
                  }"
                  [disabled]="this.isDisableInput()"
                  [items]="this.isDisableInput() ? masterCurrencies : masterCurrenciesFilter"
                  bindValue="idNo"
                  bindLabel="name"
                  [multiple]="false"
                  [(ngModel)]="partCostRequestData.requestPartCost.paymentMasterCurrencyId"
                  (ngModelChange)="
                    validateRows(); validateRequestPartCost(); changePaymentCurrency()
                  "
                ></ng-select>
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">Short Explanation</div>
              <div class="detail-value">
                <input
                  [ngClass]="{
                    'invalid-cell':
                      isInvalidRequestPartCost('shortDescription') && this.isDisableInput() == false
                  }"
                  type="text"
                  class="form-control"
                  [disabled]="this.isDisableInput()"
                  [(ngModel)]="partCostRequestData.requestBase.shortDescription"
                  (ngModelChange)="validateRows(); validateRequestPartCost()"
                />
              </div>
            </div>
            <div class="detail-row">
              <div class="detail-label label-required">Is Same Lead time</div>
              <div class="detail-value">
                <p-checkbox
                  *ngIf="this.isDisableInput() == false"
                  [(ngModel)]="partCostRequestData.requestPartCost.isSameLeadTime"
                  [binary]="true"
                  (ngModelChange)="isSameLeadTimeChange()"
                  ngClass="mr-4"
                ></p-checkbox>
                <span class="fw-bold" *ngIf="this.isDisableInput()">
                  <ng-container *ngIf="partCostRequestData.requestPartCost.isSameLeadTime == true">
                    Yes :
                  </ng-container>
                  <ng-container *ngIf="partCostRequestData.requestPartCost.isSameLeadTime == false">
                    No
                  </ng-container>
                </span>

                <p-inputNumber
                  *ngIf="
                    partCostRequestData.requestPartCost.isSameLeadTime == true &&
                    this.isDisableInput() == false
                  "
                  [(ngModel)]="partCostRequestData.requestPartCost.leadTimeDay"
                  [minFractionDigits]="0"
                  [maxFractionDigits]="0"
                  (onInput)="leadTimeChange()"
                  class="mw-75"
                  ngClass="mw-75"
                ></p-inputNumber>
                <span class="fw-bold" *ngIf="this.isDisableInput()">
                  {{ partCostRequestData.requestPartCost.leadTimeDay }}
                </span>
                <span
                  class="fw-bold"
                  *ngIf="partCostRequestData.requestPartCost.isSameLeadTime == true"
                >
                  Days
                </span>
              </div>
            </div>
          </div>
        </div>
      </p-panel>
      <!-- Explanation -->
      <div
        class="mt-3"
        [ngClass]="{
          'invalid-cell': isInvalidRequestPartCost('remark') && this.isDisableInput() == false
        }"
      >
        <p-panel [toggleable]="true">
          <ng-template pTemplate="header">
            <div class="d-flex justify-content-between align-items-center w-100">
              <span class="fw-bold label-required">Explanation</span>
            </div>
          </ng-template>
          <div>
            <p-editor
              [(ngModel)]="this.partCostRequestData.requestPartCost.remark"
              [style]="{ height: '300px' }"
              [readonly]="this.isDisableInput()"
              (ngModelChange)="validateRequestPartCost()"
            />
          </div>
        </p-panel>
      </div>
      <!-- Part Cost Management -->
      <div *ngIf="isValidGeneral()" class="mt-3">
        <p-panel
          [toggleable]="false"
          [ngClass]="{ 'panel-fullscreen m-0 p-0': isFullScreen }"
          [styleClass]="'custom-panel m-0 p-0'"
        >
          <ng-template pTemplate="header" class="m-0 p-0">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div class="d-flex align-items-center">
                <span class="fw-bold">Part Cost Management</span>
                <p-button
                  *ngIf="this.isDisableInput() == false"
                  icon="pi pi-trash"
                  (click)="dropAllItem()"
                  styleClass="p-button-rounded p-button-danger p-1 mx-3"
                  label="Delete All Item"
                  [disabled]="
                    isLoading || this.partCostRequestData.requestPartCostDetails.length == 0
                  "
                ></p-button>

                <p-fileUpload
                  #excelFileUpload
                  *ngIf="this.isDisableInput() == false"
                  mode="basic"
                  name="file"
                  accept=".xlsx, .xls"
                  chooseLabel="Import"
                  (onSelect)="importFromExcel($event)"
                  styleClass="p-button-rounded p-button-success p-1 mx-3"
                  icon="pi pi-upload"
                  [disabled]="isLoading"
                ></p-fileUpload>

                <p-button
                  icon="pi pi-file-excel"
                  label="Export"
                  styleClass="p-button-info p-button-rounded p-1 mx-3"
                  (click)="exportToExcel()"
                  [disabled]="isLoading"
                ></p-button>
                <!-- <p-button
                  *ngIf="this.isDisableInput() == false"
                  icon="pi pi-caculator"
                  (click)="ReCalcPartCost()"
                  styleClass="p-button-rounded p-button-success p-1 mx-3"
                  label="Caculate Total Price, Diff"
                  [disabled]="isLoading"
                ></p-button> -->
                <app-loading *ngIf="isLoading" class="mx-3"></app-loading>
                <span class="fw-bold"
                  >Total Records: {{ this.partCostRequestData.requestPartCostDetails.length }}</span
                >
              </div>

              <p-button
                styleClass="p-button-rounded p-button-success p-1"
                (click)="toggleFullScreen()"
                label="{{ this.isFullScreen ? 'Turn off Full Screen' : 'Full Screen' }}"
                icon="pi pi-search-{{ this.isFullScreen ? 'minus' : 'plus' }}"
              />
            </div>
          </ng-template>
          <div class="row">
            <ag-grid-angular
              class="ag-theme-quartz"
              [ngClass]="{
                'invalid-cell':
                  (isInvalidRequestPartCost('requestPartCostDetails') || validateRows() == false) &&
                  this.isDisableInput() == false
              }"
              [rowData]="this.partCostRequestData.requestPartCostDetails"
              [columnDefs]="colDefs"
              [defaultColDef]="defaultColDef"
              [style.height]="{{ this.isFullScreen ? '88vh' : '70vh' }}"
              [style.width]="'100%'"
              (cellValueChanged)="onCellValueChanged($event)"
              [domLayout]="'normal'"
              [enableCellTextSelection]="true"
              [ensureDomOrder]="true"
              [suppressRowClickSelection]="true"
              [rowSelection]="'multiple'"
              [animateRows]="true"
              [enableRangeSelection]="true"
              [suppressContextMenu]="false"
              [preventDefaultOnContextMenu]="true"
            >
            </ag-grid-angular>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-between align-items-center">
      <div>
        <span class="text-muted">
          {{ getNavigationInfo() }}
        </span>
      </div>
      <div>
        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-text mr-2"
          (click)="cancelGroupEdit()"
        ></p-button>
        <p-button
          label="Save Group"
          icon="pi pi-check"
          styleClass="p-button-success"
          (click)="saveGroupEdit()"
          [disabled]="!isEditGroupFormValid()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<!-- Print Preview Dialog -->
<p-dialog
  [(visible)]="showPrintPreview"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="true"
  styleClass="print-preview-dialog"
  [style]="{
    'min-width': '95vw',
    'min-height': '90vh',
    'max-height': '95vh',
    'overflow': 'hidden'
  }"
  [contentStyle]="{
    'overflow-y': 'auto',
    'overflow-x': 'auto',
    'max-height': '80vh',
    'padding': '10px'
  }"
  header="Print Preview - Part Cost Request"
  (onHide)="showPrintPreview = false"
><app-part-cost-print
    *ngIf="showPrintPreview && partCostRequestData"
    [partCostRequestData]="partCostRequestData"
    [masterSuppliersMap]="masterSuppliersMap"
    [masterCurrenciesMap]="masterCurrenciesMap"
    [masterEmployeesMap]="masterEmployeesMap"
    [masterChangePriceReasonsMap]="masterChangePriceReasonsMap"
    [masterIncotermsMap]="masterIncotermsMap"
    [masterOriginalsMap]="masterOriginalsMap"
    [masterCrCuReasonsMap]="masterCrCuReasonsMap"
    [masterUnitsMap]="masterUnitsMap"
    [masterRequestActionsMap]="masterRequestActionsMap"
    [masterRequestStatusesMap]="masterRequestStatusesMap"
    [isDiffCurrency]="isDiffCurrency"
    (onClose)="showPrintPreview = false">
  </app-part-cost-print>
</p-dialog>
